nav {
    background-color: darkslategray;
    padding: 1rem 0;
    border-bottom: 3px solid white;
    font-family: 'Fjalla One', sans-serif;
    height: 60px;
    font-size: 20px;
    
}
nav .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
ul {
    display: flex;
    justify-content: space-around;
    width: 20%;
    list-style-type: none;
    list-style: none;
}
a {
    color: #fff;
    text-decoration: none;
    
}

a:hover {
    color: white;
    
    padding: 0.2rem;
    border-radius: 1px;
}
#my-cv {
    font-family: 'Alfa Slab One', cursive;
    font-size: 50px;
    color: white;
    
}

