<div>
    <div class="pt-cv">
        <p class="cv-font">CV</p>
    </div>
    <div class="container desc-flex desc-pad">
        
        <div class="white-card">
            Hej!


            Jag heter <span class="bt">Daniel From</span>, har studerat på Wijkmanska gymnasiet på Teknikprogrammet och tog studenten 2013.Detta innebär att jag har goda kunskaper inom engelska , svenska mattematik, datorkunskap eftersom det är ett teoretiskt program. 
            <br>
            <br>
            
            Efter att ha testat både Byggprogrammet och Hotel och Restaurang programmet. . Just nu så arbetar jag som lagerarbetare på Ica Hacksta via randstad som expiditör på helger, samt så jobbar jag som idrottslärare mån-fre men min tjänst går ut nu i juni.Kan även lägga till att jag är ansvarig för tre flykting grabbar som inte kunde någon svenska eller engelska alls så jag har lärt dom svenska genom att kommunicera. 
            
            <br>
            <br>
            Jag har även B-körkort Truckkort A-B, egen bil och bor ensam i en lägenhet på skiljebo. Tror att jobbet passar mig bra på postnord då jag är van vid att jobba med människor samt att jag redan har en tjänst inom Randstad så jag vet vad det betyder att vara ansiktet utåt åt Randstad.
            
            På fritiden så gillar jag att resa om det finns möjlighet och pengar över samt att ta hand om mina två små grabbar på 1 och 3 år .
            
            
            
            <br>
            <br>
            Med vänliga hälsningar
            <br>
            <br>
            <strong>Daniel From</strong>
            
            
            
        </div>
        <div class="img-shad">
            <img class="img-cv" src="../../../assets/images/daniel digital cl.png" alt="">
        </div>
    </div>
</div>
<footer class="bg-grey text-center text-lg-start">
    <!-- Copyright -->
    <div class="pt-copy">
      © 2021 Copyright: Daniel From
    </div>
    <!-- Copyright -->
  </footer>