<div class="container pt-exp">
    <div class="d-grid">

        <!-- UTBILDNINGAR -->

        <div class="white-card ">
            <h1 class="text-center">Utbildningar</h1>
            <div class="d-flex pt-utb">
                <div>EC utbildning 
                    <br>
                   <strong>Frontend-utvecklare</strong> 
                    </div>
                <div>Ht-2020-Vt-2022</div>
                
            </div>
            <div class="d-flex pt-utb">
                <div>Wijkmanska Gymnasiet
                    <br>
                   <strong>Teknikprogrammet</strong> 
                    </div>
                <div>Ht-2010-Vt-2013</div>
                
            </div>
            <div class="d-flex pt-utb">
                <div>Wenströmska Gymnasiet
                    <br>
                   <strong>Byggprogrammet</strong> 
                    </div>
                <div>Ht-2008-Vt-2010</div>
                
            </div>
            <div class="d-flex pt-utb">
                <div>Wenströmska Gymnasiet
                    <br>
                   <strong>Hotel och restaurang programmet</strong> 
                    </div>
                <div>Ht-2007-Vt-2008</div>
                
            </div>
            <div class="d-flex pt-utb">
                <div>Bäckbyskolan
                    <br>
                   <strong>Högstadiet</strong> 
                    </div>
                <div>Ht-2004-Vt-2006</div>
                
            </div>
            
            
        </div>

        <!-- ARBETE -->

        <div class="white-card ">
            <h1 class="text-center">Arbete</h1>
            <div class="d-flex pt-utb">
                <div>Skälbyskolan
                    <br>
                   <strong>Lärare,Resurs,Personligassistent årskurs 1-9
                    Lärare ,NO,Ma,Eng,Sv,Resurs,Assistent
                    </strong> 
                    </div>
                <div>2014-2017</div>
                
            </div>
            <div class="d-flex pt-utb">
                <div>Hilton food group
                    <br>
                   <strong>Lager arbete</strong> 
                    </div>
                <div>Vt/Sommaren 2013</div>
                
            </div>
            <div class="d-flex pt-utb">
                <div>Burger Corner
                    <br>
                   <strong>Servera och laga mat</strong> 
                    </div>
                <div>Sommaren 2012</div>
                
            </div>
            <div class="d-flex pt-utb">
                <div>Try it Ida Sommarjobb                                    
                    <br>
                   <strong>Fritidsledare</strong> 
                    </div>
                <div>Sommaren 2011</div>
                
            </div>
            <div class="d-flex pt-utb">
                <div>Västerås stad 
                    <br>
                   <strong>Ferie arbete.
                       <br>	
                    Diverse arbete
                    </strong> 
                    </div>
                <div>Sommaren 2009</div>
                
            </div>
            <div class="d-flex pt-utb">
                <div>Ica Lagret
                    <br>
                   <strong>Expeditör</strong> 
                    </div>
                <div>2014/2021
                    <br>
                    Pågående
                </div>
                
            </div>
            <div class="d-flex pt-utb">
                <div>Pilträdsskolan
                    <br>
                   <strong>Idrottslärare</strong> 
                    </div>
                <div>2018/2020</div>
                
            </div>
            <div class="d-flex pt-utb">
                <div>Signalvakt
                    <br>
                   <strong>Vägvakt,
                    skyltansvarig,
                    
                    gruppansvarig
                    </strong> 
                    </div>
                <div>2018/2021
                    <br>Pågående
                </div>
                
            </div>
            
        </div>

        <!-- AKTIVITETER -->

        <div class="white-card ">
            <h1 class="text-center">Aktiviteter</h1>
            <div class="d-flex pt-utb">
                <div>
                    <p>
                        Ironsport gym hälla Västerås
                    </p>
                    </div>
                <div>Ht-2020-2022</div>
                
            </div>
            <div class="d-flex pt-utb">
                <div>Pittbull Muay Thai
                    <br>
                   <strong>Kampsport</strong> 
                    </div>
                <div>2008-2014</div>
                
            </div>
            <div class="d-flex pt-utb">
                <div>Boxning
                    <br>
                   <strong>Bk tiger</strong> 
                    </div>
                <div>2011-2013</div>
                
            </div>
            <div class="d-flex pt-utb">
                <div>Råby BK
                    <br>
                   <strong>Innebandy</strong> 
                    </div>
                <div>2000-2007</div>
                
            </div>
            <div class="d-flex pt-utb">
                <div>Västerås Fightclub 
                    
                    </div>
                <div>2015</div>
                
            </div>
            
            
        </div>
        
    </div>
</div>

